* {
    margin: 0;
    padding: 0;
  }

  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 2px solid black;
    vertical-align: middle;
  }
  
  .navbar .navitem {
    float: right;
    border: 2px solid black;
  }
  .navbar .btn {
    float: right;
    font-size: 33px;
    margin-top: -18px;
    margin-right: 10%;
    border: 2px solid black;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
  }
  
  .navbar li .navbutton:hover {
    background-color: rgb(87, 3, 4);
  }

  .titlu h1{
      font-size: 25rem;
      color: rgb(29, 15, 7);
      text-shadow: 10px 10px 10px red, -10px -10px 10px red;
      margin:0px;
      padding: 0px;
 
  }

  .titlu{
    width: 50%;
    margin: 0 auto;
    font-family: Dungrg;
    margin-top: 10%;
  }
  
  .titlu .pepin{
      text-align: center;
  }

  .container2{
      height: 100%;
      text-align: center;
      width: 100%;
      margin:auto;
  }
  .carousel-inner img {
    height: 55rem;
    width: 38rem;
    max-width:100%;

  }

  #info1{
    height: 78rem;
    width: 38rem;
    margin-left: 6rem;
}
  #info2{
    height: 78rem;
    width: 38rem;
    margin-left: 6rem;
}

.carousel-inner{
  height: 78rem;
  width: 38rem;
}

.info{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 24px;
}

.btn btn-danger{
    border: none;
}



.info .infotitle{
    color:white;
    font-family: Dungrg;
    font-size: 70px;
    text-shadow: 1px 1px 10px red, -1px -1px 10px red;
    margin-bottom: 7rem;
}

.carousel{
  background-image: url("./images/carouselimg.jpg");
  background-size: 100%;
}

.info .infotext{
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 34px;
}

.container2 #info1{
  display: inline-block;
  margin: auto;
  margin-top: 15%;

}
.container2 #info2{
  display: inline-block;
  margin-top: 15%;
}

.bg1{
  width:100%;
  height: 20rem;
  min-height:100vh;
  background-image:url("./images/wallpaper.jpg");
}
.bg2{
  width:100%;
  min-height:100vh;
  background-image:url("./images/wallpaper2.jpg");
}

.container{
  margin:0;
  padding: 0;
}
.modal-content{
  background-image: url("https://media.giphy.com/media/KeL04ZmYXMrz2w8gb1/giphy.gif");
  background-size: 100%;
}
  

@font-face
{ 
  font-family: Dungrg; src: url('DUNGRG__.TTF'); 
} 
@media screen and (max-width : 1601px) { 
  .titlu h1{ font-size: 20rem; }
  .navbar li a{
    font-size: 20px;
  }
  .navbar .btn {
    font-size: 28px;
  }
  .bg1{
    background-image: none;
    background-color: black;
  }
  body{
    margin:0;
  }
}

@media screen and (max-width : 1320px) { 
  .titlu h1{ font-size: 17rem; }
  .navbar li a{
    font-size: 16px;
  }
  .navbar .btn {
    font-size: 22px;
  }
}

@media screen and (max-width : 960px) { 
  .titlu h1{ font-size: 15rem; }
  .navbar li a{
    font-size: 12px;
  }
  .navbar .btn {
    font-size: 16px;
  }
}
@media screen and (max-width : 830px) { 
  .titlu h1{ font-size: 15rem; }
  .navbar li a{
    font-size: 12px;
  }
}

@media screen and (max-width : 840px) { 
  #info1{
    height: 80rem;
    width: 30rem;
  }
  #info2{
    height: 80rem;
    width: 30rem;
  }
  .carousel{
    background-image: url("./images/carouselimg.jpg");
    background-size: 100%;
  }
  .titlu .pepin{ font-size: 14rem; }
  .titlu .theknight{ font-size: 14rem; }
  .titlu{ margin-top: 25%; }

}

@media screen and (max-width : 666px) { 
  #info1{
    height: 60rem;
    width: 25rem;
  }
  #info2{
    height: 60rem;
    width: 25rem;
  }
  .carousel-inner{
    background-image: url("./images/carouselimg.jpg");
    background-size: 100%;
  }
  .info .infotitle{
    font-size: 45px;
  }
  .info .infotext{
    font-size: 24px;
  }


}
@media screen and (max-width : 565px) { 
  #info1{
    height: 60rem;
    width: 20rem;
  }
  #info2{
    height: 60rem;
    width: 20rem;
  }
  .carousel-inner{
    background-image: url("./images/carouselimg.jpg");
    background-size: 100%;
  }
  .info .infotitle{
    font-size: 45px;
  }
  .info .infotext{
    font-size: 24px;
  }

}

@media screen and (max-width : 480px) { 
  .titlu h1{ font-size: 6rem; }

  .navbar li a{
    font-size: 14px;
    padding: 0;
  }
  .navbar .btn {
    font-size: 20px;
    margin: 0px;
    margin-right: 130px;
  }
}

@media screen and (max-width : 420px) { 
  #info1{
    height: 60rem;
    width: 15rem;
  }
  #info2{
    height: 60rem;
    width: 15rem;
  }
  .carousel-inner{
    background-image: url("./images/carouselimg.jpg");
    background-size: 100%;
  }
  .info .infotitle{
    font-size: 44px;
  }
  .info .infotext{
    font-size: 20px;
  }
  .titlu .pepin{ font-size: 14rem; }
  .titlu .theknight{ font-size: 14rem; }
  .titlu{ margin-top: 20%; }
  .navbar .btn {
    font-size: 20px;
    margin: 0px;
    margin-right: 130px;
  }
  .navbar li a{
    font-size: 15px;
    margin-right: 7.4px;
    padding: 0;
  }

}