body{
    background-color: black;
}

.raspuns1 {
	color: #fff;
	font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: 300;
    line-height: 36px;
    border-bottom: 3px solid #E65634;
    max-width: 400px;
    text-align: center;
    margin: auto;
    padding-bottom: 3rem;
    margin-top: 4rem;
}

.intrebare1{
    font-family: Dungrg;
    color: #fff;
	border-bottom: 3px solid #E65634;
	border-top: 3px solid #E65634;
	font-size: 80px;
	font-weight: 400;
    line-height: 60px;
    margin:auto;
	max-width: 600px;
	padding: 45px 0;
    text-align: center;
    margin-top: 4rem;
    text-shadow: 1px 1px 20px rgb(57, 44, 131), -1px -1px 20px red;
    
}

.modal-content{
    background-image: url("https://media.giphy.com/media/KeL04ZmYXMrz2w8gb1/giphy.gif");
    background-size: 100%;
}

.intrebare2{
    font-family: Dungrg;
    color: #fff;
	border-top: 3px solid #E65634;
	font-size: 80px;
	font-weight: 400;
    line-height: 60px;
    max-width: 1200px;
    margin:auto;
	padding: 45px 0;
    text-align: center;
    margin-top: 4rem;
    text-shadow: 1px 1px 20px rgb(57, 44, 131), -1px -1px 20px red;
    
}
.membru{
    font-family: Dungrg;
    color: #fff;
    border-top: 3px solid #E65634;
	font-size: 60px;
	font-weight: 400;
    line-height: 60px;
    max-width: 1200px;
    margin:auto;
	padding: 45px 0;
    text-align: center;
    margin-top: 4rem;
    text-shadow: 1px 1px 20px rgb(57, 44, 131), -1px -1px 20px red;
    
}
.members{
    list-style-type:none;
    display:flex;
    justify-content: center;
}
.members li{
    display: list-item;
    background: black;
    width: 25%;
    color:white;
    margin: 0 15px;
}

.citat {
	color: #fff;
	font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: 300;
	line-height: 36px;
    max-width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 4rem;
    text-transform: uppercase;
}

.minfo{
    padding-top: 2rem;
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 3px solid #E65634;
}

.part1{
    width: 100%;
    min-height: 100vh;
}


.noutati{
    list-style: none;
    
}

.ninfo1{
    font-size: 24px;
    color: white;
    line-height: 60px;    
}

.tnoutati{
    font-family: Dungrg;
    color: #fff;
    border-top: 3px solid #E65634;
    border-bottom: 3px solid #E65634;
	font-size: 80px;
	font-weight: 400;
    line-height: 60px;
    max-width: 1200px;
    margin:auto;
	padding: 45px 0;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 10rem;
    text-shadow: 1px 1px 20px rgb(57, 44, 131), -1px -1px 20px red;
}

#noutate1{
    border-right: 3px solid #E65634;
}





@font-face{ 
    font-family: Dungrg; src: url('../DUNGRG__.TTF'); 
} 
